@model IEXTrading.Models.ViewModel.CompaniesEquities

@{
    ViewData["Title"] = "Quote";
}

<h2>Chart</h2>
<hr />

<form asp-controller="Home" asp-action="Chart" method="get">
    <select id="symbolDropDown" name="symbol" style="width:70%">
        @foreach (var company in Model.Companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input class="btn btn-light" type="submit" value="Get Chart" />
</form>
@if (Model.Current != null)
{
    var equity = Model.Current;
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    
                    <table class="table">
                        <tr>
                            <td style="font-weight:bolder;padding-right:5px">
                                Symbol
                            </td>
                            <td>
                                @equity.symbol
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bolder;padding-right:5px">
                                Open
                            </td>
                            <td>
                                @equity.open
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bolder;padding-right:5px">
                                High
                            </td>
                            <td>
                                @equity.high
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bolder;padding-right:5px">
                                Close
                            </td>
                            <td>
                                @equity.close
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bolder;padding-right:5px">
                                Volume
                            </td>
                            <td>
                                @equity.volume
                            </td>
                            
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <a class="btn btn-success saveButton" asp-controller="Home" asp-action="SaveCharts" asp-route-symbol="@Model.Current.symbol">Save</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div>
                        <canvas id="myChart" height="500" width="800"></canvas>
                    </div>
                </td>
                
            </tr>
        </tbody>
    </table>
}

<script>
    getChart("@Model.Dates", "@Model.Prices", "@Model.Volumes", @Model.AvgPrice, @Model.AvgVolume);
    alertDbSave(@ViewBag.dbSuccessChart);
    $(document).ready(function () {
        $("#symbolDropDown").select2({
            placeholder: "Select a Profile"
        });
    });
</script>