@model IEXTrading.Models.ViewModel.CompaniesQuote

@{
    ViewData["Title"] = "Get Quote";
}

<h2>Get Quote</h2>
<hr />


<form asp-controller="Home" asp-action="GetQuote" method="get">
    <select id="profileDropDown" name="symbol" class="js-example-basic-single" style="width:70%">
        <option></option>
        @foreach (var company in Model.companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input class="btn btn-light" type="submit" value="Get Quote" />
</form>
@if (Model.quote != null)
{
    var quote = Model.quote;
    <hr />

    <table class="table">
        <tr>
            <td style="font-weight:bolder">
                Company Name
            </td>
            <td>
                @quote.companyName
            </td>
        </tr>
        <tr>
            <td style="font-weight:bolder">
                Primary Exchange
            </td>
            <td>
                @quote.primaryExchange
            </td>
        </tr>
        <tr>
            <td style="font-weight:bolder">
                Sector
            </td>
            <td>
                @quote.sector
            </td>
        </tr>
        <tr>
            <td style="font-weight:bolder">
                Change
            </td>
            <td>
                @quote.change
            </td>
        </tr>
        <tr>
            <td style="font-weight:bolder">
                Change %
            </td>
            <td>
                @quote.changePercent
            </td>
        </tr>
        <tr>
            <td style="font-weight:bolder">
                Week52 High
            </td>
            <td>
                @quote.week52High
            </td>
        </tr>
        <tr>
            <td style="font-weight:bolder">
                Week52 Low
            </td>
            <td>
                @quote.week52Low
            </td>
        </tr>
    </table>

    <br />
    <a class="btn btn-success saveButton" asp-controller="Home" asp-action="SaveQuote" asp-route-symbol="@Model.quote.symbol">Save</a>
}

<script>
    alertDbSave(@ViewBag.dbSuccessChart);
        $(document).ready(function () {
    $("#profileDropDown").select2({
            placeholder: "Select a Profile"
        });
        });

</script>
