@model IEXTrading.Models.ViewModel.CompaniesQuote

@{
    ViewData["Title"] = "Get Quote";
}

<h2>Get Quote</h2>
<hr />

<form asp-controller="Home" asp-action="Quote" method="get">
    <select name="symbol">
        @foreach (var company in Model.companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input type="submit" value="Get Quote" />
</form>
@if (Model.quote != null)
{
    var quote = Model.quote;
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    Current Quote Data
                    <table>
                        <tr>
                            <td>
                                Company Name
                            </td>
                            <td>
                                @quote.companyName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Primary Exchange
                            </td>
                            <td>
                                @quote.primaryExchange
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sector
                            </td>
                            <td>
                                @quote.sector
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Change
                            </td>
                            <td>
                                @quote.change
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Change %
                            </td>
                            <td>
                                @quote.changePercent
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="SaveQuote" asp-route-symbol="@Model.quote.symbol"><img src="~/images/button_save-data.png" /></a>
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
    alertDbSave(@ViewBag.dbSuccessChart);
</script>
