@model List<IEXTrading.Models.Quote>
<head>
    <link rel="stylesheet" href="css/quote.css">
</head>
<h2>Top 5 Quotes</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Symbol
            </th>
            <th>
                Primary Exchange
            </th>
            <th>
                Sector
            </th>
            <th>
                Calculation Price
            </th>
            <th>
                Open
            </th>
            <th>
                Close
            </th>
            <th>
                High
            </th>
            <th>
                Low
            </th>
            <th>
                Change
            </th>
            <th>
                Change%
            </th>
            <th>
                Avg Total Volume
            </th>
            <th>
                Week52 High
            </th>
            <th>
                Week52 Low
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => quote.companyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.primaryExchange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.sector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.calculationPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.open)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.high)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.low)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.changePercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.avgTotalVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.week52High)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => quote.week52Low)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
